<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts/css/all.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts/css/font-awesome.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='font-awesome.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  <link rel="icon" href="{{url_for('static',filename='images/CESlogo.png')}}">



  <title>CES | About Us</title>
</head>


  <body>

    <!--  start header code  includes navbar excludes search bar-->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="index.html"><img src="{{url_for('static',filename='images/CESlogo.png')}}" width="50" height="50" alt="" loading="lazy"> </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

     <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item"><a class="nav-link" href="{{url_for('index')}}">Home </a></li>
        <li class="nav-item active"><a class="nav-link" href="{{url_for('about_us')}}">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('executives')}}">Executive Committee</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('vidhaan')}}">Vidhaan</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('verify')}}">Certificates</a></li>
        </ul>
    </div>
      </nav>
    </header>
     <!--  end header code  includes navbar excludes search bar-->


     <!-- about us title-->
           <div class="exe5">
                 <div class="header" id="myHeader">
                   <h2>About Us
                   <img class="vidlogo" src="{{url_for('static',filename='images/1.png')}}" height="40px" width="50px"/> </h2>

                 </div>
           </div>
     <!-- end about us title-->

     <!-- image of ces-->
     <div class="image-container2"> <div class="text2">Civil Engineering Society</div></div>
     <!--end of image of ces-->

     <!-- details and info about ces-->
             <div class="exe6">
             <h3><u>ESTABLISHMENT AND ORIGIN -</u></h3>
             <br/>
             <p>
             The fervent demeanour of civil engineers and the upcoming aspirants to establish a common platform for sharing new views and ideas led to establishment of civil engineering society of NIT Jamshedpur in 2008.</p>
             <h3><u>VISION -</u></h3><br/>
             <p>We believe in the idea of creation and aspire to harness the beauty of this believed abstraction using tools of innovation and technology. We work in a very lucid way and believe in the idea of learning from the learned hence establishing a new creed of creators. We have a firm belief in the injunction of “carpe diem” seize the day so every new day is a new challenge for us in the order of creating something better. </p>
             <p>We want to reach a point where the belief system of civil engineering is not just limited to knowledge in fine prints and grabbing employment but to create something new, build something extraordinary and make human lives better. We want to squeeze out every last drop of innovation and use it for creating a sustainable and eco-friendly environment at all construction sites. We work as a family for the greater good and will continue to do so and anyone who wishes to be part of this mission statement just needs to believe in the idea of creation.
             Construisons Creons (let’s build let’s create)… </p>

             <h3><u>EVENTS-</u></h3><br/>
             <h4><li><u>VIDHAAN -</u></li></h4>
             <p>VIDHAAN, which literally means 'creation', is the annual branch fest of Civil engineering department of NIT Jamshedpur. Being true to it's name and motto, it is a great platform for budding civil engineers to utilize their potential and work practically towards the problems in the modern world. It's a great medium for the students to think, discuss, adapt and improvise a for better change in the field of civil engineering. With the event coordinators and participants being civil engineering students themselves, first edition of VIDHAAN was successful in extracting enormous creativity and engagement of students!</p>
             <h4><li><u>CIVIL PREMIER LEAUGE -</u></li></h4>
             <p>It is the annual cricket league organized by the civil engineering society. The participation comes from all four undergraduate year students, all post graduate students and professors aas well. This is organized in order to spread heath awareness and strength the student teacher relationship.</p>
             <h4><li><u>FOOTBALL MATCH -</u></li></h4>
             <p>Like the cpl CES also organizes a football match between the professors and students. The event turns out to be a great excitement for both students and teachers.  </p>

             <h4><li><u>FUTURE ASPIRATONS -</u></li></h4>
             <p>Including a vision to expand the reach of our society and make it better we are also committed to organize our technical fest for the first time in the history of NIT JAMSHEDPUR. We hope that our efforts will be fruitful in the coming future and we will leave our footprint in the futuristic world.</p>



             </div>
     <!-- end details and info about ces-->


     <!--footer-->

         <div class="footer">
               <footer class="page-footer font-small mdb-color pt-4">
                 <div class="container text-center text-md-left">

                   <!-- Footer links -->
                   <div class="row text-center text-md-left mt-3 pb-3">

                     <!-- Grid column -->
                     <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                       <h6 class="text-uppercase mb-4 font-weight-bold">CES NIT JAMSHEDPUR</h6>
                       <p><img src="{{url_for('static',filename='images/CESlogo.png')}}" height="150px" width="150px"/></p>
                     </div>
                     <!-- Grid column -->

                     <hr class="w-100 clearfix d-md-none">




                     <hr class="w-100 clearfix d-md-none">

                     <!-- Grid column -->
                     <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                       <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                       <p>
                         <a href="{{url_for('about_us')}}" class="useful-links">About Us</a>
                       </p>
                       <p>
                         <a href="{{url_for('executives')}}" class="useful-links">Executive Committee</a>
                       </p>
                       <p>
                         <a href="{{url_for('vidhaan')}}" class="useful-links">Vidhaan</a>
                       </p>
                     </div>

                     <!-- Grid column -->
                     <hr class="w-100 clearfix d-md-none">

                     <!-- Grid column -->
                     <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                       <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                       <p>
                         <i class="fas fa-home mr-3"></i> NIT Jamshedpur, 831014</p>
                       <p>
                         <i class="fas fa-envelope mr-3"></i> ces@nitjsr.ac.in</p>
                    <p>
                         <i class="fas fa-envelope-open-text mr-3"></i><a href="mailto: president.ces@nitjsr.ac.in" class="bad-link"> president.ces@nitjsr.ac.in </a></p>
                       <p>
                         <i class="fas fa-phone mr-3"></i> +919314092297</p>

                     </div>
                     <!-- Grid column -->

                   </div>
                   <!-- Footer links -->

                   <hr>

                   <!-- Grid row -->
                   <div class="row d-flex align-items-center">

                     <!-- Grid column -->
                     <div class="col-md-7 col-lg-8">

                       <!--Copyright-->
                       <p class="text-center text-md-left">© 2020 Copyright:
                         <a href="https://cesnitjsr.co.in/">
                           <strong> Civil Engineering Society</strong>
                         </a>
                    <p class="text-center text-md-left"> Designed By:
                         <a href="#">
                           <strong> CES webTeam</strong>
                         </a>
                      </p>
                       </p>

                     </div>
                     <!-- Grid column -->

                     <!-- Grid column -->
                     <div class="col-md-5 col-lg-4 ml-lg-0">

                       <!-- Social buttons -->
                  <p class="text-center text-md-right">
                         <a>
                           <strong> Follow Us</strong>
                         </a>
                       </p>
                       <div class="text-center text-md-right">
                         <ul class="list-unstyled list-inline">
                           <li class="list-inline-item">
                             <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.fb.com/CESnitjsr" target="_blank">
                               <i class="fab fa-facebook-f"></i>
                             </a>
                           </li>
                           <li class="list-inline-item">
                             <a class="btn-floating btn-sm rgba-white-slight mx-1">
                               <i class="fab fa-twitter"></i>
                             </a>
                           </li>
                           <li class="list-inline-item">
                             <a class="btn-floating btn-sm rgba-white-slight mx-1">
                               <i class="fab fa-google-plus-g"></i>
                             </a>
                           </li>
                           <li class="list-inline-item">
                             <a class="btn-floating btn-sm rgba-white-slight mx-1">
                               <i class="fab fa-linkedin-in"></i>
                             </a>
                           </li>
                         </ul>
                       </div>

                     </div>
                     <!-- Grid column -->

                   </div>
                   <!-- Grid row -->

                 </div>
                 <!-- Footer Links -->

               </footer>
               <!-- Footer -->


         </div>

     <!-- footer ends-->













  </body>
</html>
